name: Secret from KeyVault
on: 
  workflow_dispatch

env:
  SECRETVALUE: ''
  
jobs:
  retrieveSecretFromKV:
    runs-on: ubuntu-latest
    
    steps:
      - uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Retrieve secret from KV
        uses: azure/CLI@v1
        with:
          inlineScript: |
            value=az keyvault secret show --name "GitHubSecret" --vault-name "GitHubKeyVault" --query "value"
            echo value
      
